<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Data Tables | Quadra Multi Concept HTML Theme</title>
  <meta name="description"
    content="Quadra is a super easy customizing, creative, professional design, bootstrap responsive and high performance website template and 700+ pages for multi-purpose using to agencies, portfolio, photographers and your all wishes." />
  <meta name="author" content="GoldEyes" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
  <!--Favicon -->
  <link rel="icon" type="image/png" href="images/favicon.png" />
  <!-- Apple Touch Icon -->
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />

  <!-- CSS Files -->
  <link rel="stylesheet" href="css/plugins.css?v=3.0" />
  <!-- Data tables -->
  <link rel="stylesheet" href="css/components/datatables.min.css" />
  <!-- Main Styles -->
  <link rel="stylesheet" href="css/theme.css?v=3.0" />
  <!-- Color Skins -->
  <link id="changeable_color" rel="stylesheet" href="css/skins/default.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style>
    /* .customized-table options */
    .customized-table div.dataTables_wrapper div.dataTables_length label {
      font-size: 16px;
      color: #4B4B4B;
    }

    .customized-table div.dataTables_wrapper {
      overflow: auto;
    }

    .customized-table table.dataTable {
      border: 1px solid #EAEAEA;
      margin-top: 40px !important;
      color: #9E9E9E;
      font-size: 13px;
      font-weight: 400 !important;
      text-transform: uppercase;
    }

    .customized-table div.dataTables_wrapper div.dataTables_length select {
      border: none;
      border-radius: 30px;
      background-color: #F4F4F4;
      outline: none !important;
      box-shadow: none !important;
      padding: 0 20px;
      width: 85px;
      height: 40px;
      margin: 0 5px;
    }

    .customized-table .table thead th {
      border: none;
      text-transform: uppercase;
    }

    .customized-table .table td,
    .customized-table .table th {
      border-top: 1px solid #EAEAEA;
      padding: 20px;
      text-transform: none;
      font-weight: 400;
    }

    .customized-table table.dataTable td {
      color: #4B4B4B;
    }

    .customized-table table.dataTable thead .sorting:before,
    .customized-table table.dataTable thead .sorting:after,
    .customized-table table.dataTable thead .sorting_asc:before,
    .customized-table table.dataTable thead .sorting_asc:after,
    .customized-table table.dataTable thead .sorting_desc:before,
    .customized-table table.dataTable thead .sorting_desc:after,
    .customized-table table.dataTable thead .sorting_asc_disabled:before,
    .customized-table table.dataTable thead .sorting_asc_disabled:after,
    .customized-table table.dataTable thead .sorting_desc_disabled:before,
    .customized-table table.dataTable thead .sorting_desc_disabled:after {
      opacity: .4;
      color: black;
      bottom: 1.5em;
    }

    .customized-table table.dataTable thead .sorting:before,
    .customized-table table.dataTable thead .sorting_asc:before,
    .customized-table table.dataTable thead .sorting_desc:before,
    .customized-table table.dataTable thead .sorting_asc_disabled:before,
    .customized-table table.dataTable thead .sorting_desc_disabled:before {
      right: 2em;
    }

    .customized-table table.dataTable thead .sorting:after,
    .customized-table table.dataTable thead .sorting_asc:after,
    .customized-table table.dataTable thead .sorting_desc:after,
    .customized-table table.dataTable thead .sorting_asc_disabled:after,
    .customized-table table.dataTable thead .sorting_desc_disabled:after {
      right: 1.5em;
    }

    .customized-table table.dataTable thead .sorting_asc:before,
    .customized-table table.dataTable thead .sorting_desc:after {
      opacity: 1;
    }

    .customized-table table.dataTable tr:hover {
      background-color: #fafafa;
    }

    .customized-table .table thead th:hover {
      color: #444;
    }

    /* Search input options */
    .customized-table div.dataTables_wrapper div.dataTables_filter input {
      border: none;
      background-color: #f4f4f4;
      margin-left: 15px;
      padding: 15px 20px;
      height: 45px;
      border-radius: 50px;
      width: 240px;
      box-shadow: none;
    }

    /* Margin for bottom text and pagination */
    .customized-table div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
      margin-top: 40px;
    }

    /* Pagination options */
    .customized-table .page-link {
      padding: 0.72rem 1.03rem;
      color: #717171;
      color: #777 !important;
      box-shadow: none !important;
      font-size: 12px;
    }

    .customized-table .page-item.active .page-link {
      background-color: #444;
      border-color: #444;
      color: white !important;
    }

    .customized-table .page-item:first-child .page-link,
    .page-item:last-child .page-link {
      border-radius: 0 !important;
    }

    /* Pagination position on small devices */
    @media only screen and (max-width:992px) {
      div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: center;
      }

      .customized-table table.dataTable thead .sorting:before,
      .customized-table table.dataTable thead .sorting_asc:before,
      .customized-table table.dataTable thead .sorting_desc:before,
      .customized-table table.dataTable thead .sorting_asc_disabled:before,
      .customized-table table.dataTable thead .sorting_desc_disabled:before {
        right: .9em;
      }

      .customized-table table.dataTable thead .sorting:after,
      .customized-table table.dataTable thead .sorting_asc:after,
      .customized-table table.dataTable thead .sorting_desc:after,
      .customized-table table.dataTable thead .sorting_asc_disabled:after,
      .customized-table table.dataTable thead .sorting_desc_disabled:after {
        right: 0.4em;
      }
    }
  </style>

  <!-- End Page Styles -->

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Taviraj:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<!-- BODY START -->

<body>



  <!-- Start Navigation -->
  <nav id="navigation" class="modern-nav static nav-white bordered link-hover-01 dropdown-radius" data-offset="0">
    <!-- Navigation container - You can chnage container type and paddding value -->
    <div class="container nav-container">
      <!-- Row for cols in the nav -->
      <div class="row nav-wrapper">
        <!-- Column for logo -->
        <div class="col">
          <a href="index.html" class="logo">
            <img src="images/logos/logo_01_white.svg" alt="website logo" class="logo-white">
            <img src="images/logos/logo_01_dark.svg" alt="website logo" class="logo-dark">
          </a>
        </div>
        <!-- Column for Navigation -->
        <div class="col nav-menu">
          <!-- Navigation links, you can add nav-links-centered class for centered links -->
          <ul class="nav-links justify-content-center">
            <!-- Logo for mobile navigation -->
            <li class="logo-for-mobile-navigation"><img src="images/logos/logo_01_dark.svg" alt="website logo"></li>
            <!-- Link -->
            <li><a href="index.html#demos" class="nav-link">Websites</a></li>
            <!-- Pages, Sub menus -->
            <li class="dd-toggle">
              <a href="#" class="nav-link">Pages</a>
              <ul class="dropdown-menu to-right">
                <li class="dd-toggle">
                  <a href="pages-404-01.html" class="nav-link">404 Pages <span class="mark nav-mark bg-purple white">Hot</span></a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="pages-404-01.html" class="nav-link">3D Layout</a></li>
                    <li><a href="pages-404-02.html" class="nav-link">Classic</a></li>
                    <li><a href="pages-404-03.html" class="nav-link">SVG Design</a></li>
                    <li><a href="pages-404-04.html" class="nav-link">Mountains</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="pages-about-01.html" class="nav-link">About Pages</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="pages-about-01.html" class="nav-link">About Page 01</a></li>
                    <li><a href="pages-about-02.html" class="nav-link">About Page 02</a></li>
                    <li><a href="pages-about-03.html" class="nav-link">About Page 03</a></li>
                    <li><a href="pages-about-04.html" class="nav-link">About Page 04</a></li>
                    <li><a href="pages-about-05.html" class="nav-link">About Page 05</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="pages-contact-01.html" class="nav-link">Contact Pages</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="pages-contact-01.html" class="nav-link">Contact Page 01</a></li>
                    <li><a href="pages-contact-02.html" class="nav-link">Contact Page 02</a></li>
                    <li><a href="pages-contact-03.html" class="nav-link">Contact Page 03</a></li>
                    <li><a href="pages-contact-04.html" class="nav-link">Contact Page 04</a></li>
                    <li><a href="pages-contact-05.html" class="nav-link">Contact Page 05</a></li>
                    <li><a href="pages-contact-06.html" class="nav-link">Contact Page 06</a></li>
                    <li><a href="pages-contact-07.html" class="nav-link">Contact Page 07</a></li>
                    <li><a href="pages-contact-08.html" class="nav-link">Contact Page 08</a></li>
                    <li><a href="pages-contact-09.html" class="nav-link">Contact Page 09</a></li>
                    <li><a href="pages-contact-10.html" class="nav-link">Contact Page 10</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="pages-services-01.html" class="nav-link">Services Pages</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="pages-services-01.html" class="nav-link">Services 01</a></li>
                    <li><a href="pages-services-02.html" class="nav-link">Services 02</a></li>
                    <li><a href="pages-services-03.html" class="nav-link">Services 03</a></li>
                  </ul>
                </li>
                <li><a href="pages-team-members.html" class="nav-link">Team Members</a></li>
                <li class="dd-toggle">
                  <a href="pages-career.html" class="nav-link">Career <span class="mark nav-mark bg-pink white">New</span></a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="pages-career.html" class="nav-link">Career Main</a></li>
                    <li><a href="pages-career-apply.html" class="nav-link">Career Aply</a></li>
                  </ul>
                </li>
                <li><a href="pages-blank.html" class="nav-link">Blank Page</a></li>
                <li class="dd-toggle">
                  <a href="pages-coming-soon-01.html" class="nav-link">Coming Soon</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="pages-coming-soon-01.html" class="nav-link">Coming Soon 01</a></li>
                    <li><a href="pages-coming-soon-02.html" class="nav-link">Coming Soon 02</a></li>
                    <li><a href="pages-coming-soon-03.html" class="nav-link">Coming Soon 03</a></li>
                    <li><a href="pages-coming-soon-04.html" class="nav-link">Coming Soon 04</a></li>
                    <li><a href="pages-coming-soon-05.html" class="nav-link">Coming Soon 05</a></li>
                    <li><a href="pages-coming-soon-06.html" class="nav-link">Coming Soon 06</a></li>
                    <li><a href="pages-coming-soon-07.html" class="nav-link">Coming Soon 07</a></li>
                    <li><a href="pages-coming-soon-08.html" class="nav-link">Coming Soon 08</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="pages-faqs-01.html" class="nav-link">Faqs Page</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="pages-faqs-01.html" class="nav-link">Faqs Page 01</a></li>
                    <li><a href="pages-faqs-02.html" class="nav-link">Faqs Page 02</a></li>
                    <li><a href="pages-faqs-03.html" class="nav-link">Faqs Page 03</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="pages-layout-double-sidebar.html" class="nav-link">Layouts</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="pages-layout-fullwidth.html" class="nav-link">Fullwidth</a></li>
                    <li><a href="pages-layout-fullwidth-wide.html" class="nav-link">Fullwidth Wide</a></li>
                    <li><a href="pages-layout-left-sidebar.html" class="nav-link">Left Sidebar</a></li>
                    <li><a href="pages-layout-right-sidebar.html" class="nav-link">Right Sidebar</a></li>
                    <li><a href="pages-layout-double-sidebar.html" class="nav-link">Double Sidebar</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="pages-login-01.html" class="nav-link">Login Pages</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="pages-login-01.html" class="nav-link">Login 01</a></li>
                    <li><a href="pages-login-02.html" class="nav-link">Login 02</a></li>
                    <li><a href="pages-login-03.html" class="nav-link">Login 03</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="pages-maintenance-01.html" class="nav-link">Maintenance <span class="mark nav-mark bg-pink white">New</span></a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="pages-maintenance-01.html" class="nav-link">Maintenance 01</a></li>
                    <li><a href="pages-maintenance-02.html" class="nav-link">Maintenance 02</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="pages-privacy.html" class="nav-link">Privacy &amp; Terms <span class="mark nav-mark bg-pink white">New</span></a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="pages-privacy.html" class="nav-link">Privacy Policy</a></li>
                    <li><a href="pages-terms.html" class="nav-link">Terms</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- Portfolio, Sub menus -->
            <li class="dd-toggle">
              <a href="#" class="nav-link">Portfolio</a>
              <ul class="dropdown-menu to-right">
                <li class="dd-toggle">
                  <a href="portfolio-alpha-grid.html" class="nav-link">Alpha <span class="mark nav-mark bg-violet white">top</span></a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="portfolio-alpha-ajax-inline.html" class="nav-link">Ajax Inline</a></li>
                    <li><a href="portfolio-alpha-ajax-modal.html" class="nav-link">Ajax In Modal</a></li>
                    <li><a href="portfolio-alpha-carousel.html" class="nav-link">Carousel</a></li>
                    <li><a href="portfolio-alpha-fullwidth.html" class="nav-link">Fullwidth Layout</a></li>
                    <li><a href="portfolio-alpha-grid.html" class="nav-link">Grid Layout</a></li>
                    <li><a href="portfolio-alpha-loadmore-button.html" class="nav-link">Infinity Scroll - Button</a></li>
                    <li><a href="portfolio-alpha-loadmore-scroll.html" class="nav-link">Infinity Scroll</a></li>
                    <li><a href="portfolio-alpha-masonry.html" class="nav-link">Masonry Layout</a></li>
                    <li><a href="portfolio-alpha-mosaic.html" class="nav-link">Mosaic Layout</a></li>
                    <li><a href="portfolio-alpha-photo-gallery.html" class="nav-link">Photo Gallery</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="portfolio-capella-grid.html" class="nav-link">Capella</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="portfolio-capella-ajax-inline.html" class="nav-link">Ajax Inline</a></li>
                    <li><a href="portfolio-capella-ajax-modal.html" class="nav-link">Ajax In Modal</a></li>
                    <li><a href="portfolio-capella-carousel.html" class="nav-link">Carousel</a></li>
                    <li><a href="portfolio-capella-fullwidth.html" class="nav-link">Fullwidth Layout</a></li>
                    <li><a href="portfolio-capella-grid.html" class="nav-link">Grid Layout</a></li>
                    <li><a href="portfolio-capella-loadmore-button.html" class="nav-link">Infinity Scroll - Button</a></li>
                    <li><a href="portfolio-capella-loadmore-scroll.html" class="nav-link">Infinity Scroll</a></li>
                    <li><a href="portfolio-capella-masonry.html" class="nav-link">Masonry Layout</a></li>
                    <li><a href="portfolio-capella-mosaic.html" class="nav-link">Mosaic Layout</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="portfolio-comet-grid.html" class="nav-link">Comet</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="portfolio-comet-ajax-inline.html" class="nav-link">Ajax Inline</a></li>
                    <li><a href="portfolio-comet-ajax-modal.html" class="nav-link">Ajax In Modal</a></li>
                    <li><a href="portfolio-comet-carousel.html" class="nav-link">Carousel</a></li>
                    <li><a href="portfolio-comet-fullwidth.html" class="nav-link">Fullwidth Layout</a></li>
                    <li><a href="portfolio-comet-grid.html" class="nav-link">Grid Layout</a></li>
                    <li><a href="portfolio-comet-loadmore-button.html" class="nav-link">Infinity Scroll - Button</a></li>
                    <li><a href="portfolio-comet-loadmore-scroll.html" class="nav-link">Infinity Scroll</a></li>
                    <li><a href="portfolio-comet-masonry.html" class="nav-link">Masonry Layout</a></li>
                    <li><a href="portfolio-comet-mosaic.html" class="nav-link">Mosaic Layout</a></li>
                    <li><a href="portfolio-comet-photo-gallery.html" class="nav-link">Photo Gallery</a></li>
                  </ul>
                </li>
                <li><a href="portfolio-photo-albums.html" class="nav-link">Photo Albums <span class="mark nav-mark bg-green white">Featured</span></a></li>
                <li class="dd-toggle">
                  <a href="portfolio-prosty-grid.html" class="nav-link">Prosty</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="portfolio-prosty-ajax-inline.html" class="nav-link">Ajax Inline</a></li>
                    <li><a href="portfolio-prosty-ajax-modal.html" class="nav-link">Ajax In Modal</a></li>
                    <li><a href="portfolio-prosty-carousel.html" class="nav-link">Carousel</a></li>
                    <li><a href="portfolio-prosty-fullwidth.html" class="nav-link">Fullwidth Layout</a></li>
                    <li><a href="portfolio-prosty-grid.html" class="nav-link">Grid Layout</a></li>
                    <li><a href="portfolio-prosty-loadmore-button.html" class="nav-link">Infinity Scroll - Button</a></li>
                    <li><a href="portfolio-prosty-loadmore-scroll.html" class="nav-link">Infinity Scroll</a></li>
                    <li><a href="portfolio-prosty-masonry.html" class="nav-link">Masonry Layout</a></li>
                    <li><a href="portfolio-prosty-photo-gallery.html" class="nav-link">Photo Gallery</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="portfolio-rigel-grid.html" class="nav-link">Rigel</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="portfolio-rigel-ajax-inline.html" class="nav-link">Ajax Inline</a></li>
                    <li><a href="portfolio-rigel-ajax-modal.html" class="nav-link">Ajax In Modal</a></li>
                    <li><a href="portfolio-rigel-carousel.html" class="nav-link">Carousel</a></li>
                    <li><a href="portfolio-rigel-fullwidth.html" class="nav-link">Fullwidth Layout</a></li>
                    <li><a href="portfolio-rigel-grid.html" class="nav-link">Grid Layout</a></li>
                    <li><a href="portfolio-rigel-loadmore-button.html" class="nav-link">Infinity Scroll - Button</a></li>
                    <li><a href="portfolio-rigel-loadmore-scroll.html" class="nav-link">Infinity Scroll</a></li>
                    <li><a href="portfolio-rigel-masonry.html" class="nav-link">Masonry Layout</a></li>
                    <li><a href="portfolio-rigel-mosaic.html" class="nav-link">Mosaic Layout</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="portfolio-vega-grid.html" class="nav-link">Vega</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="portfolio-vega-ajax-inline.html" class="nav-link">Ajax Inline</a></li>
                    <li><a href="portfolio-vega-ajax-modal.html" class="nav-link">Ajax In Modal</a></li>
                    <li><a href="portfolio-vega-carousel.html" class="nav-link">Carousel</a></li>
                    <li><a href="portfolio-vega-fullwidth.html" class="nav-link">Fullwidth Layout</a></li>
                    <li><a href="portfolio-vega-grid.html" class="nav-link">Grid Layout</a></li>
                    <li><a href="portfolio-vega-loadmore-button.html" class="nav-link">Infinity Scroll - Button</a></li>
                    <li><a href="portfolio-vega-loadmore-scroll.html" class="nav-link">Infinity Scroll</a></li>
                    <li><a href="portfolio-vega-masonry.html" class="nav-link">Masonry Layout</a></li>
                    <li><a href="portfolio-vega-mosaic.html" class="nav-link">Mosaic Layout</a></li>
                    <li><a href="portfolio-vega-photo-gallery.html" class="nav-link">Photo Gallery</a></li>
                  </ul>
                </li>
                <li><a href="portfolio-videos.html" class="nav-link">Videos</a></li>
                <li class="dd-toggle">
                  <a href="portfolio-virgo-grid.html" class="nav-link">Virgo <span class="mark nav-mark bg-pink white">Featured</span></a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="portfolio-virgo-ajax-inline.html" class="nav-link">Ajax Inline</a></li>
                    <li><a href="portfolio-virgo-carousel.html" class="nav-link">Carousel</a></li>
                    <li><a href="portfolio-virgo-fullwidth.html" class="nav-link">Fullwidth Layout</a></li>
                    <li><a href="portfolio-virgo-grid.html" class="nav-link">Grid Layout</a></li>
                    <li><a href="portfolio-virgo-loadmore-button.html" class="nav-link">Infinity Scroll - Button</a></li>
                    <li><a href="portfolio-virgo-loadmore-scroll.html" class="nav-link">Infinity Scroll</a></li>
                    <li><a href="portfolio-virgo-masonry.html" class="nav-link">Masonry Layout</a></li>
                    <li><a href="portfolio-virgo-mosaic.html" class="nav-link">Mosaic Layout</a></li>
                    <li><a href="portfolio-virgo-photo-gallery.html" class="nav-link">Photo Gallery</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="project-01.html" class="nav-link">Projects</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="project-01.html" class="nav-link">Project #01</a></li>
                    <li><a href="project-02.html" class="nav-link">Project #02</a></li>
                    <li><a href="project-03.html" class="nav-link">Project #03</a></li>
                    <li><a href="project-04.html" class="nav-link">Project #04</a></li>
                    <li><a href="project-05.html" class="nav-link">Project #05</a></li>
                    <li><a href="project-06.html" class="nav-link">Project #06</a></li>
                    <li><a href="project-07.html" class="nav-link">Project #07</a></li>
                    <li><a href="project-08.html" class="nav-link">Project #08</a></li>
                    <li><a href="project-09.html" class="nav-link">Project #09</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- Extras, Sub menus -->
            <li class="dd-toggle">
              <a href="footer-all.html" class="nav-link">Extras</a>
              <ul class="dropdown-menu to-right">
                <li class="dd-toggle">
                  <a href="slider-rs-premium-demos.html" class="nav-link">Sliders <span class="mark nav-mark bg-pink white">New</span></a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="slider-rs-premium-demos.html" class="nav-link">Revolution Sliders</a></li>
                    <li class="dd-toggle">
                      <a href="slider-slick-all.html" class="nav-link">Slick Slider <span class="mark nav-mark bg-pink white">New</span></a>
                      <ul class="dropdown-menu to-right">
                        <li><a href="slider-slick-all.html" class="nav-link">Visit All</a></li>
                        <li><a href="slider-slick-boxed-image.html" class="nav-link">Boxed Image</a></li>
                        <li><a href="slider-slick-fade-zoom-layer-animation.html" class="nav-link">Fade Zoom Layer Animation</a></li>
                        <li><a href="slider-slick-hero-text-slider.html" class="nav-link">Hero Text Slider</a></li>
                        <li><a href="slider-slick-letter-animation.html" class="nav-link">Letter Animations</a></li>
                        <li><a href="slider-slick-svg-graphics.html" class="nav-link">SVG Graphics</a></li>
                        <li><a href="slider-slick-svg-layers.html" class="nav-link">SVG Layers</a></li>
                        <li><a href="slider-slick-svg-mask.html" class="nav-link">SVG Masks</a></li>
                        <li><a href="slider-slick-white-theme.html" class="nav-link">White Theme</a></li>
                        <li><a href="slider-slick-zoom-background-animation.html" class="nav-link">Zoom Background Animation</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="footer-all.html" class="nav-link">Footers <span class="mark nav-mark bg-green white">Featured</span></a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="footer-all.html" class="nav-link">All Footers</a></li>
                    <li><a href="footer-fixed.html" class="nav-link">Fixed Footer</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="header-01.html" class="nav-link">Headers</a>
                  <ul class="dropdown-menu to-right">
                    <li class="dd-toggle">
                      <a href="header-01.html" class="nav-link">Headers &amp; Breadcrumbs</a>
                      <ul class="dropdown-menu to-right">
                        <li><a href="header-01.html" class="nav-link">Header 01</a></li>
                        <li><a href="header-02.html" class="nav-link">Header 02</a></li>
                        <li><a href="header-03.html" class="nav-link">Header 03</a></li>
                        <li><a href="header-04.html" class="nav-link">Header 04</a></li>
                        <li><a href="header-05.html" class="nav-link">Header 05</a></li>
                        <li><a href="header-06.html" class="nav-link">Header 06</a></li>
                        <li><a href="header-07.html" class="nav-link">Header 07</a></li>
                        <li><a href="header-08.html" class="nav-link">Header 08</a></li>
                      </ul>
                    </li>
                    <li class="dd-toggle">
                      <a href="header-01.html" class="nav-link">Background Options</a>
                      <ul class="dropdown-menu to-right">
                        <li><a href="header-blur.html" class="nav-link">Blur Animation</a></li>
                        <li><a href="header-fading.html" class="nav-link">Fading Animation</a></li>
                        <li><a href="header-parallax.html" class="nav-link">Parallax</a></li>
                        <li><a href="header-pattern.html" class="nav-link">Pattern</a></li>
                        <li><a href="header-slider.html" class="nav-link">Slider</a></li>
                        <li><a href="header-video.html" class="nav-link">Video</a></li>
                        <li><a href="header-zoom-slider.html" class="nav-link">Zoom Slider</a></li>
                        <li><a href="header-zoom-with-scroll.html" class="nav-link">Zoom With Scroll</a></li>
                        <li><a href="header-zoom.html" class="nav-link">Zoom Animation</a></li>
                      </ul>
                    </li>
                    <li><a href="header-classic.html" class="nav-link">Classic</a></li>
                    <li><a href="header-custom-size.html" class="nav-link">Custom Size</a></li>
                    <li><a href="header-dark.html" class="nav-link">Dark Size</a></li>
                    <li><a href="header-hotspots.html" class="nav-link">Hotspots</a></li>
                    <li><a href="header-text-rotator.html" class="nav-link">Text Rotator</a></li>
                    <li><a href="header-text-slider.html" class="nav-link">Text Slider</a></li>
                    <li><a href="header-text-typer.html" class="nav-link">Text Typer</a></li>
                    <li><a href="header-waves.html" class="nav-link">Wave Effect</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="navigation-01.html" class="nav-link">Modern Navigation</a>
                  <ul class="dropdown-menu too-long to-right">
                    <li><a href="navigation-01.html" class="nav-link">Navigation 01</a></li>
                    <li><a href="navigation-02.html" class="nav-link">Navigation 02</a></li>
                    <li><a href="navigation-03.html" class="nav-link">Navigation 03</a></li>
                    <li><a href="navigation-04.html" class="nav-link">Navigation 04</a></li>
                    <li><a href="navigation-05.html" class="nav-link">Navigation 05</a></li>
                    <li><a href="navigation-06.html" class="nav-link">Navigation 06</a></li>
                    <li><a href="navigation-07.html" class="nav-link">Navigation 07</a></li>
                    <li><a href="navigation-08.html" class="nav-link">Navigation 08</a></li>
                    <li><a href="navigation-09.html" class="nav-link">Navigation 09</a></li>
                    <li><a href="navigation-10.html" class="nav-link">Navigation 10</a></li>
                    <li><a href="navigation-11.html" class="nav-link">Navigation 11</a></li>
                    <li><a href="navigation-12.html" class="nav-link">Navigation 12</a></li>
                    <li><a href="navigation-13.html" class="nav-link">Navigation 13</a></li>
                    <li><a href="navigation-14.html" class="nav-link">Navigation 14</a></li>
                    <li><a href="navigation-15.html" class="nav-link">Navigation 15</a></li>
                    <li><a href="navigation-16.html" class="nav-link">Navigation 16</a></li>
                    <li><a href="navigation-17.html" class="nav-link">Navigation 17</a></li>
                    <li><a href="navigation-megamenu.html" class="nav-link">Mega Menu</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="navigation-block-01.html" class="nav-link">Block Navigation</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="navigation-block-01.html" class="nav-link">Block Navigation 01</a></li>
                    <li><a href="navigation-block-02.html" class="nav-link">Block Navigation 02</a></li>
                    <li><a href="navigation-block-03.html" class="nav-link">Block Navigation 03</a></li>
                    <li><a href="navigation-block-04.html" class="nav-link">Block Navigation 04</a></li>
                    <li><a href="navigation-block-05.html" class="nav-link">Block Navigation 05</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="navigation-dot-01.html" class="nav-link">Dot Navigation</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="navigation-dot-01.html" class="nav-link">Dot Navigation 01</a></li>
                    <li><a href="navigation-dot-02.html" class="nav-link">Dot Navigation 02</a></li>
                    <li><a href="navigation-dot-03.html" class="nav-link">Dot Navigation 03</a></li>
                    <li><a href="navigation-dot-04.html" class="nav-link">Dot Navigation 04</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="navigation-extra-01.html" class="nav-link">Extra Navigation</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="navigation-extra-01.html" class="nav-link">Extra Navigation 01</a></li>
                    <li><a href="navigation-extra-02.html" class="nav-link">Extra Navigation 02</a></li>
                    <li><a href="navigation-extra-03.html" class="nav-link">Extra Navigation 03</a></li>
                    <li><a href="navigation-extra-04.html" class="nav-link">Extra Navigation 04</a></li>
                    <li><a href="navigation-extra-05.html" class="nav-link">Extra Navigation 05</a></li>
                    <li><a href="navigation-extra-06.html" class="nav-link">Extra Navigation 06</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="navigation-punch-01.html" class="nav-link">Punch Navigation <span class="mark nav-mark bg-purple white">Up</span></a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="navigation-punch-01.html" class="nav-link">Punch Navigation 01</a></li>
                    <li><a href="navigation-punch-02.html" class="nav-link">Punch Navigation 02</a></li>
                    <li><a href="navigation-punch-03.html" class="nav-link">Punch Navigation 03</a></li>
                    <li><a href="navigation-punch-04.html" class="nav-link">Punch Navigation 04</a></li>
                    <li><a href="navigation-punch-05.html" class="nav-link">Punch Navigation 05</a></li>
                    <li><a href="navigation-punch-06.html" class="nav-link">Punch Navigation 06</a></li>
                    <li><a href="navigation-punch-07.html" class="nav-link">Punch Navigation 07</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="navigation-side-01.html" class="nav-link">Side Navigation</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="navigation-side-01.html" class="nav-link">Side Navigation 01</a></li>
                    <li><a href="navigation-side-02.html" class="nav-link">Side Navigation 02</a></li>
                    <li><a href="navigation-side-03.html" class="nav-link">Side Navigation 03</a></li>
                    <li><a href="navigation-side-04.html" class="nav-link">Side Navigation 04</a></li>
                    <li><a href="navigation-side-05.html" class="nav-link">Side Navigation 05</a></li>
                    <li><a href="navigation-side-06.html" class="nav-link">Side Navigation 06</a></li>
                    <li><a href="navigation-side-07.html" class="nav-link">Side Navigation 07</a></li>
                    <li><a href="navigation-side-08.html" class="nav-link">Side Navigation 08</a></li>
                    <li><a href="navigation-side-09.html" class="nav-link">Side Navigation 09</a></li>
                    <li><a href="navigation-side-10.html" class="nav-link">Side Navigation 10</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="navigation-side-mini-01.html" class="nav-link">Mini Side Navigation</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="navigation-side-mini-01.html" class="nav-link">Mini Side Navigation 01</a></li>
                    <li><a href="navigation-side-mini-02.html" class="nav-link">Mini Side Navigation 02</a></li>
                    <li><a href="navigation-side-mini-03.html" class="nav-link">Mini Side Navigation 03</a></li>
                    <li><a href="navigation-side-mini-04.html" class="nav-link">Mini Side Navigation 04</a></li>
                    <li><a href="navigation-side-mini-05.html" class="nav-link">Mini Side Navigation 05</a></li>
                    <li><a href="navigation-side-mini-06.html" class="nav-link">Mini Side Navigation 06</a></li>
                    <li><a href="navigation-side-mini-07.html" class="nav-link">Mini Side Navigation 07</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="navigation-top-bar-01.html" class="nav-link">Top Bars <span class="mark nav-mark bg-orange white">NEW</span></a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="navigation-top-bar-01.html" class="nav-link">Top Bar 01</a></li>
                    <li><a href="navigation-top-bar-02.html" class="nav-link">Top Bar 02</a></li>
                    <li><a href="navigation-top-bar-03.html" class="nav-link">Top Bar 03</a></li>
                    <li><a href="navigation-top-bar-04.html" class="nav-link">Top Bar 04</a></li>
                    <li><a href="navigation-top-bar-05.html" class="nav-link">Top Bar 05</a></li>
                    <li><a href="navigation-top-bar-06.html" class="nav-link">Top Bar 06</a></li>
                    <li><a href="navigation-top-bar-07.html" class="nav-link">Top Bar 07</a></li>
                    <li><a href="navigation-top-bar-08.html" class="nav-link">Top Bar 08</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- Elements, Mega menu -->
            <li class="dd-toggle">
              <a href="elements-all.html" class="nav-link">Elements</a>
              <ul class="dropdown-menu mega-menu to-center">
                <li>
                  <ul class="column">
                    <li><a href="#" class="nav-link column-title">General Elements</a></li>
                    <li><a href="elements-accordions.html" class="nav-link">Accordions</a></li>
                    <li><a href="elements-buttons.html" class="nav-link">Buttons <span class="mark nav-mark bg-orange white">NEW</span></a></li>
                    <li><a href="elements-columns.html" class="nav-link">Columns</a></li>
                    <li><a href="elements-socials.html" class="nav-link">Socials</a></li>
                    <li><a href="elements-tabs.html" class="nav-link">Tabs</a></li>
                    <li><a href="elements-toggles.html" class="nav-link">Toggles</a></li>
                    <li><a href="elements-lists.html" class="nav-link">Lists</a></li>
                    <li><a href="elements-sections-parallax.html" class="nav-link">Parallax &amp; Sections</a></li>
                    <li><a href="elements-tooltips.html" class="nav-link">Tooltips</a></li>
                    <li><a href="#" class="nav-link column-title mt-20">Typography, Text</a></li>
                    <li><a href="elements-dropcaps.html" class="nav-link">Dropcaps</a></li>
                    <li class="dd-toggle">
                      <a href="elements-headings.html" class="nav-link">Headings <span class="mark nav-mark bg-green white">Featured</span></a>
                      <ul class="dropdown-menu to-right">
                        <li><a href="elements-headings.html" class="nav-link">Static Headings</a></li>
                        <li><a href="elements-animated-headings.html" class="nav-link">Animated Headings</a></li>
                      </ul>
                    </li>
                    <li><a href="elements-labels.html" class="nav-link">Labels</a></li>
                    <li><a href="elements-gradient-texts.html" class="nav-link">Gradient Texts</a></li>
                    <li><a href="elements-text-rotator.html" class="nav-link">Text Rotator</a></li>
                  </ul>
                  <ul class="column">
                    <li><a href="#" class="nav-link column-title">Interactive &amp; Affects</a></li>
                    <li><a href="elements-alerts.html" class="nav-link">Alerts</a></li>
                    <li><a href="elements-animated-gradients.html" class="nav-link">Animated Gradients</a></li>
                    <li><a href="elements-animations.html" class="nav-link">Animations</a></li>
                    <li><a href="elements-cookie-notifications.html" class="nav-link">Cookie Notifications</a></li>
                    <li><a href="elements-counters.html" class="nav-link">Counters</a></li>
                    <li><a href="elements-countdowns.html" class="nav-link">Countdowns</a></li>
                    <li><a href="/data" class="nav-link">Data Tables</a></li>
                    <li><a href="elements-loaders.html" class="nav-link">Loaders</a></li>
                    <li><a href="elements-modals.html" class="nav-link">Modals</a></li>
                    <li><a href="elements-range-slider.html" class="nav-link">Range Slider</a></li>
                    <li><a href="elements-timeline.html" class="nav-link">Timeline <span class="mark nav-mark bg-violet white">New</span></a></li>
                    <li><a href="elements-ratings.html" class="nav-link">Ratings</a></li>
                    <li><a href="elements-responsive-visibility.html" class="nav-link">Responsive Visibility</a></li>
                    <li class="dd-toggle">
                      <a href="elements-sidebar-left.html" class="nav-link">Sidebar Types</a>
                      <ul class="dropdown-menu to-right">
                        <li><a href="elements-sidebar-left.html" class="nav-link">Sidebar Left</a></li>
                        <li><a href="elements-sidebar-right.html" class="nav-link">Sidebar Right</a></li>
                        <li><a href="elements-sidebar-top.html" class="nav-link">Sidebar Top</a></li>
                        <li><a href="elements-sidebar-bottom.html" class="nav-link">Sidebar Bottom</a></li>
                        <li><a href="elements-sidebar-boxes.html" class="nav-link">Sidebar Boxes</a></li>
                        <li><a href="elements-sidebar-dark.html" class="nav-link">Sidebar Dark Scheme</a></li>
                      </ul>
                    </li>
                    <li><a href="elements-sticky-items.html" class="nav-link">Sticky Items</a></li>
                  </ul>
                  <ul class="column">
                    <li><a href="#" class="nav-link column-title">Infographics &amp; Icons</a></li>
                    <li><a href="elements-blockquotes.html" class="nav-link">Blockqotes</a></li>
                    <li class="dd-toggle">
                      <a href="elements-boxes.html" class="nav-link">Boxes <span class="mark nav-mark bg-violet white">New</span></a>
                      <ul class="dropdown-menu to-right">
                        <li><a href="elements-boxes.html" class="nav-link">Content Boxes</a></li>
                        <li><a href="elements-rotate-boxes.html" class="nav-link">Rotate Boxes</a></li>
                        <li><a href="elements-infoboxes.html" class="nav-link">Info Boxes</a></li>
                      </ul>
                    </li>
                    <li><a href="elements-call-to-action.html" class="nav-link">Call To Action</a></li>
                    <li><a href="elements-clients.html" class="nav-link">Clients</a></li>
                    <li><a href="elements-dividers.html" class="nav-link">Dividers</a></li>
                    <li><a href="elements-icon-navigation.html" class="nav-link">Icon Navigation Animations</a></li>
                    <li class="dd-toggle">
                      <a href="elements-icons.html" class="nav-link">Icons</a>
                      <ul class="dropdown-menu to-right">
                        <li><a href="elements-icons.html" class="nav-link">Solid Icons</a></li>
                        <li><a href="elements-icons-line.html" class="nav-link">Line Icons</a></li>
                        <li><a href="elements-animated-svg-icons.html" class="nav-link">Animated SVG Icons</a></li>
                      </ul>
                    </li>
                    <li><a href="elements-pricing-tables.html" class="nav-link">Pricing Tables</a></li>
                    <li><a href="elements-process-steps.html" class="nav-link">Process Steps</a></li>
                    <li><a href="elements-progress-bars.html" class="nav-link">Progress Bars</a></li>
                    <li><a href="elements-testimonials.html" class="nav-link">Testimonials</a></li>
                  </ul>
                  <ul class="column">
                    <li><a href="#" class="nav-link column-title">Media Shortcodes</a></li>
                    <li><a href="elements-audio-player-dark.html" class="nav-link">Audio Player (Dark Sheme)</a></li>
                    <li><a href="elements-audio-player-light.html" class="nav-link">Audio Player <span class="mark nav-mark bg-green white">Hot</span></a></li>
                    <li><a href="elements-animated-images.html" class="nav-link">Animated Images</a></li>
                    <li><a href="elements-before-after.html" class="nav-link">Before &amp; After Images</a></li>
                    <li><a href="elements-carousels.html" class="nav-link">Carousels</a></li>
                    <li><a href="elements-maps.html" class="nav-link">Google Maps</a></li>
                    <li><a href="elements-hotspots.html" class="nav-link">Hotspots On Images</a></li>
                    <li><a href="elements-lightboxes.html" class="nav-link">Lightboxes <span class="mark nav-mark bg-orange white">Hot</span></a></li>
                    <li><a href="elements-overlap-images.html" class="nav-link">Overlap Images</a></li>
                    <li><a href="elements-background-changer.html" class="nav-link">Background Color Animations</a></li>
                    <li><a href="elements-video-backgrounds.html" class="nav-link">Video Backgrounds</a></li>
                    <li><a href="elements-video-player.html" class="nav-link">Video Players</a></li>
                  </ul>
                  <ul class="column">
                    <li><a href="elements-all.html" class="nav-link column-title">Forms & Validations</a></li>
                    <li><a href="elements-form-date-pickers.html" class="nav-link">Date Pickers</a></li>
                    <li><a href="elements-form-elements.html" class="nav-link">Form Elements</a></li>
                    <li><a href="elements-form-validations.html" class="nav-link">Form Validations</a></li>
                    <li><a href="elements-typeahead.html" class="nav-link">Typeahead</a></li>
                    <li><a href="elements-age-verification.html" class="nav-link">Age Verification <span class="mark nav-mark bg-primary white">featured</span></a></li>
                    <li><a href="elements-age-verification-basic.html" class="nav-link">Age Verification (Basic)</a></li>
                    <li><a href="elements-wishbox.html" class="nav-link">WishBox <span class="mark nav-mark bg-pink white">hot</span></a></li>
                    <li><a href="elements-file-inputs.html" class="nav-link">File Inputs</a></li>
                    <li><a href="elements-all.html" class="nav-link mt-20">All Elements <i class="ti-back-right ml-5"></i></a></li>
                  </ul>
                </li>

              </ul>
            </li>
            <!-- Blog, Sub menus -->
            <li class="dd-toggle">
              <a href="#" class="nav-link">Blog</a>
              <ul class="dropdown-menu to-right">
                <li><a href="blog-alphabet.html" class="nav-link">Alphabet</a></li>
                <li><a href="blog-big-text.html" class="nav-link">Big Text</a></li>
                <li class="dd-toggle">
                  <a href="blog-classic.html" class="nav-link">Classic</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="blog-classic.html" class="nav-link">Main</a></li>
                    <li><a href="blog-classic-author.html" class="nav-link">Author</a></li>
                    <li><a href="blog-classic-category.html" class="nav-link">Category</a></li>
                    <li><a href="blog-classic-double-sidebar.html" class="nav-link">Double Sidebar</a></li>
                    <li><a href="blog-classic-left-sidebar.html" class="nav-link">Left Sidebar</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="blog-classic.html" class="nav-link">Grid <span class="mark nav-mark bg-violet white">New</span></a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="blog-grid-author.html" class="nav-link">Author</a></li>
                    <li><a href="blog-grid-category.html" class="nav-link">Category</a></li>
                    <li class="dd-toggle">
                      <a href="blog-grid-column-3.html" class="nav-link">Columns</a>
                      <ul class="dropdown-menu to-right">
                        <li><a href="blog-grid-column-2.html" class="nav-link">2 Column</a></li>
                        <li><a href="blog-grid-column-3.html" class="nav-link">3 Column</a></li>
                        <li><a href="blog-grid-column-4.html" class="nav-link">4 Column</a></li>
                      </ul>
                    </li>
                    <li><a href="blog-grid-infinity-scroll.html" class="nav-link">Infinity Scroll</a></li>
                    <li><a href="blog-grid-infinity-scroll-click.html" class="nav-link">Infinity Scroll (With Click)</a></li>
                    <li><a href="blog-grid-sidebar.html" class="nav-link">Sidebar</a></li>
                    <li><a href="blog-grid-untitled.html" class="nav-link">Untitled</a></li>
                    <li><a href="blog-grid-with-hero.html" class="nav-link">Hero</a></li>
                  </ul>
                </li>
                <li><a href="blog-landing.html" class="nav-link">Landing</a></li>
                <li class="dd-toggle">
                  <a href="blog-list-type.html" class="nav-link">List Type</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="blog-list-type.html" class="nav-link">Main</a></li>
                    <li><a href="blog-list-type-double-sidebar.html" class="nav-link">Double Sidebar</a></li>
                    <li><a href="blog-list-type-left-sidebar.html" class="nav-link">Left Sidebar</a></li>
                    <li><a href="blog-list-type-with-hero.html" class="nav-link">Hero</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="#" class="nav-link">Masonry</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="blog-masonry-author.html" class="nav-link">Author</a></li>
                    <li class="dd-toggle">
                      <a href="blog-masonry-column-3.html" class="nav-link">Columns</a>
                      <ul class="dropdown-menu to-right">
                        <li><a href="blog-masonry-column-2.html" class="nav-link">2 Column</a></li>
                        <li><a href="blog-masonry-column-3.html" class="nav-link">3 Column</a></li>
                        <li><a href="blog-masonry-column-4.html" class="nav-link">4 Column</a></li>
                      </ul>
                    </li>
                    <li><a href="blog-masonry-infinity-scroll-click.html" class="nav-link">Infinity Scroll (With Click)</a></li>
                    <li><a href="blog-masonry-infinity-scroll.html" class="nav-link">Infinity Scroll</a></li>
                    <li><a href="blog-masonry-untitled.html" class="nav-link">Untitled</a></li>
                    <li><a href="blog-masonry-with-hero.html" class="nav-link">Hero</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="blog-nova.html" class="nav-link">Nova <span class="mark nav-mark bg-orange white">Hot</span></a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="blog-nova.html" class="nav-link">Boxed</a></li>
                    <li><a href="blog-nova-fullwidth.html" class="nav-link">Fullwidth</a></li>
                  </ul>
                </li>
                <li class="dd-toggle">
                  <a href="blog-single-01.html" class="nav-link">Post Layouts</a>
                  <ul class="dropdown-menu to-right">
                    <li><a href="blog-single-01.html" class="nav-link">Layout 1</a></li>
                    <li><a href="blog-single-02.html" class="nav-link">Layout 2</a></li>
                    <li><a href="blog-single-03.html" class="nav-link">Layout 3</a></li>
                    <li><a href="blog-single-04.html" class="nav-link">Layout 4</a></li>
                    <li><a href="blog-single-05.html" class="nav-link">Layout 5</a></li>
                    <li><a href="blog-single-06.html" class="nav-link">Layout 6</a></li>
                    <li><a href="blog-single-07.html" class="nav-link">Layout 7</a></li>
                    <li><a href="blog-single-08.html" class="nav-link">Layout 8</a></li>
                    <li><a href="blog-single-09.html" class="nav-link">Layout 9</a></li>
                    <li><a href="blog-single-10.html" class="nav-link">Layout 10</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- Shop, Sub menus -->
            <li class="dd-toggle">
              <a href="shop-epsilon-grid.html" class="nav-link">Shop</a>
              <ul class="dropdown-menu to-right">
                <li><a href="shop-epsilon-grid.html" class="nav-link">Epsilon</a></li>
                <li><a href="shop-lyra-grid.html" class="nav-link">Lyra <span class="mark nav-mark bg-orange white">Hot</span></a></li>
                <li><a href="shop-orion-grid.html" class="nav-link">Orion</a></li>
                <li><a href="shop-procyon-grid.html" class="nav-link">Procyon <span class="mark nav-mark bg-purple white">New</span></a></li>
                <li><a href="shop-checkout.html" class="nav-link">Checkout</a></li>
                <li><a href="shop-single-product.html" class="nav-link">Single Product</a></li>
              </ul>
            </li>
            <!-- Extra Links -->
            <li class="extra-links">
              <div class="bracket"></div>
              <a href="#" class="nav-link search-form-trigger"><i class="ti-search"></i></a>
              <a href="https://twitter.com/gldeyes" target="_blank" class="nav-link" title="Twitter"><i class="ti-twitter-alt"></i></a>
              <a href="https://www.instagram.com/gldeyes/" target="_blank" class="nav-link" title="Instagram"><i class="ti-instagram"></i></a>
              <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" target="_blank" class="nav-button bg-colored bg-colored1-hover white fs-11 uppercase bold py-15" title="Instagram">Buy Quadra</a>
            </li>
          </ul>
        </div>

        <!-- Mobile Nav Button -->
        <div class="mobile-nb">
          <div class="hamburger-menu">
            <div class="top-bun"></div>
            <div class="meat"></div>
            <div class="bottom-bun"></div>
          </div>
        </div>
      </div>
      <!-- End Row for cols in the nav -->
    </div>
    <!-- End Navigation container -->
    <div class="mobile-nav-bg"></div>
  </nav>
  <!-- End Navigation -->





  <!-- Header -->
  <section id="header" class="d-flex bb-1 b-gray1">
    <!-- Container for row -->
    <div class="container height-70 height-90-sm align-items-center d-flex">
      <!-- Row -->
      <div class="row fullwidth justify-content-between mx-0">
        <!-- Left, title -->
        <div class="d-flex col-lg-6 col-12 justify-content-lg-start justify-content-center px-0">
          <h4 class="fs-13 uppercase black ls-2 lh-normal normal c-default">
            Data tables
          </h4>
        </div>
        <!-- End left, title -->
        <!-- Right, breadcrumbs -->
        <div class="d-flex col-lg-6 col-12 align-items-center fs-12 lh-normal justify-content-lg-end justify-content-center px-0 lh-normal mt-15-sm">
          <a href="index.html"><i class="ti-home"></i></a>
          <i class="ti-angle-right fs-7 mx-15"></i>
          <a href="elements-all.html">Elements</a>
          <i class="ti-angle-right fs-7 mx-15"></i>
          <a href="#" class="stay c-default opacity-6">Data Tables</a>
        </div>
        <!-- End right, breadcrumbs -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End container for row -->
  </section>
  <!-- End Header -->






  <!-- Element description -->
  <div id="elementDescription" class="container py-150 py-100-sm">
    <!-- Paragraph -->
    <p class="fs-20 fs-16-sm gray7 ls-0 lh-35 light">
      Nice plugin "data-tables" has been added to Quadra. With this table type, <span class="black">you can edit, pagination, or sorting the contents as you like.</span> You can add all your contents in the form of a classic table. <span
        class="black">And you can choose table styles. Size, sorting, colors, fonts are fully editable.</span>
    </p>
    <!-- Paragraph -->
    <p class="fs-13 dark3 ls-0 lh-25 mt-15 d-flex align-items-center">
      <span class="inline-flex width-5 height-5 bg-dark3 radius-lg mr-5 mb-2"></span>
      <a href="https://www.datatables.net/" target="_blank" class="underline-hover mx-3">You can visit this great plugin's page for all details.</a>
    </p>
    <!-- Paragraph -->

  </div>
  <!-- End Element description -->

  <!-- Element template -->
  <div id="element-template-01" class="py-120 bt-1 b-gray1 b-solid bg-gray1">
    <!-- Container for title -->
    <div class="container">
      <!-- Paragraph -->
      <p class="fs-20 fs-16-sm gray7 ls-0 lh-35 light">
        Here you can see an example table system. Features such as <span class="black">pagination, sorting, size selection are active.</span>
      </p>
    </div>
    <!-- End container for title -->

    <!-- Container for template -->
    <div class="container">
      <!-- Customized table -->
      <div class="customized-table bg-white py-50 px-40 px-15-sm o-auto mt-70">
        <table id="myContactTable" class="table fullwidth mt-70">
          <thead>
            <tr>
              <th>Date</th>
              <th>Name</th>
              <th>E-mail</th>
              <th>Phone</th>
              <th>Message</th>
              <th>Reform Date</th>
              <th>Gncelle</th>
              <th>Dn Tarihi</th>
            </tr>
          </thead>
          <tbody>
            <% contactList.forEach(function(contact) { %>
            <tr>

              <th> <%= contact.currentDateString %> </th>
              <th> <%= contact.name %> </th>
              <th> <%= contact.email %> </th>
              <th> <%= contact.phone %> </th>
              <th> <%= contact.message %> </th>
              <th><%= contact.reformdate%></th>

              <!-- Button trigger modal -->
              <th>
                <form id="form1_<%= contact._id %>" action="/refresh" method="post">
                  <button type="button" class="btn btn-primary btn-success" data-toggle="modal" data-target="#modal1_<%= contact._id %>">
                    Gncelle
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="modal1_<%= contact._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Bilgileri Gncelle</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <input type="text" name="name" value="<%= contact.name %>">
                          <input type="text" name="email" value="<%= contact.email %>">
                          <input type="text" name="phone" value="<%= contact.phone %>">
                          <input type="text" name="message" value="<%= contact.message %>">
                          <input type="date" placeholder="date" id="date" onfocus="(this.type='date')" name="reformdate" >
                          <input type="hidden" name="dataBaseId" value="<%=contact._id%>">
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                          <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </th>

                <% if (contact.reformdate) { %>
                  <th>
                <form id="form_<%= contact._id %>" action="/delete" method="post">

                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#modal_<%= contact._id %>">
                    Sil
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="modal_<%= contact._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Silmek istediinizden emin misiniz?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <input name="reformdate" value="<%=contact.reformdate%>">
                          <input type="hidden" name="dataBaseId" value="<%=contact._id%>">
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-secondary" data-dismiss="modal">Hayr</button>
                          <button type="submit" class="btn btn-primary">Evet</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>
              </th>

              <% } else { %>
              <th>
                <form id="form_<%= contact._id %>" action="/update" method="post">

                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_<%= contact._id %>">
                    Dn Tarihi
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="modal_<%= contact._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Geri Dn</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">

                          <input type="date" name="reformdate" value="<%=contact.reformdate%>">
                          <input type="hidden" name="dataBaseId" value="<%=contact._id%>">
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-secondary" data-dismiss="modal">k</button>
                          <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>
              </th>
              <%  } %>

            </tr>
            <% }); %>


          </tbody>
        </table>
      </div>
    </div>
    <!-- End container for template -->
  </div>
  <!-- End element template -->






  <!-- Wishbox message -->
  <div class="t-center fs-20 fs-16-sm gray8 black-hover light bt-1 b-solid b-gray1">
    <!-- Paragraph -->
    <a href="http://goldeyestheme.com/envato/quadra/wishbox.html" target="_blank" class="px-15 py-120 block fullwidth bg-gray1-hover slow">
      Please tell us if you want to see more element templates in Quadra. We really care about it.
    </a>
  </div>
  <!-- End Wishbox message -->






  <!-- Footer -->
  <footer id="footer" class="pt-80 bg-transparent b-0 relative">
    <!-- SVG background of footer -->
    <div class="absolute left-0 top-0 zi--1 pointer-events-none fullwidth fullheight">
      <svg width="100%" height="100%" viewBox="0 0 1922 761" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none">
        <defs>
          <radialGradient cx="50%" cy="0%" fx="50%" fy="0%" r="100%" gradientTransform="translate(0.500000,0.000000),scale(0.395313,1.000000),rotate(90.000000),translate(-0.500000,-0.000000)" id="footerDarkGradient-01">
            <stop stop-color="#232323" offset="0%"></stop>
            <stop stop-color="#0F0F0F" offset="100%"></stop>
          </radialGradient>
        </defs>
        <g stroke="none" stroke-width="0" fill="none" fill-rule="evenodd">
          <rect stroke="#E9E9E9" fill="url(#footerDarkGradient-01)" x="0" y="0" width="100%" height="100%"></rect>
        </g>
      </svg>
    </div>
    <!-- End SVG background of footer -->
    <!-- Container in footer -->
    <div class="container">
      <!-- Row for footer cols -->
      <div class="row row-eq-height">
        <!-- Column -->
        <div class="col-lg-4 col-sm-6 mt-40 t-left">
          <img src="images/logos/logo_03_white.svg" class="block width-40" alt="SVG white logo template">
          <h4 class="white fs-22 lh-35 light mt-40">
            Create a beautiful website <br class="visible-lg"> today with Quadra.
          </h4>
        </div>
        <!-- End column -->
        <!-- Column -->
        <div class="col-lg-4 col-sm-6 mt-40">
          <!-- Subtitle -->
          <h5 class="white fs-15">Washington</h5>
          <p class="fs-16 gray5 lh-25 mt-20">3113 Massachusetts Avenue <br class="visible-lg"> Washington DC</p>
          <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.9916256937586!2d2.2922926156743895!3d48.858370079287475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964e34e2d%3A0x8ddca9ee380ef7e0!2sEyfel+Kulesi!5e0!3m2!1str!2s!4v1491905379246"
            data-iframe="true" class="lightbox underline-slide underline-gray fs-16 gray5 lh-25 mt-20 inline-block">Google Map</a>
          <!-- Subtitle -->
          <h5 class="white fs-15 mt-40">Australia</h5>
          <p class="fs-16 gray5 lh-25 mt-20">
            PO Box 16122 Collins Street West <br class="visible-lg">
            Victoria 8007 Australia</p>
          <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.9916256937586!2d2.2922926156743895!3d48.858370079287475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964e34e2d%3A0x8ddca9ee380ef7e0!2sEyfel+Kulesi!5e0!3m2!1str!2s!4v1491905379246"
            data-iframe="true" class="lightbox underline-slide underline-gray fs-16 gray5 lh-25 mt-20 inline-block">Google Map</a>
        </div>
        <!-- End column -->
        <!-- Column -->
        <div class="col-lg-4 col-sm-6 mt-40">
          <!-- Subtitle -->
          <h5 class="white fs-15">Newsletter</h5>
          <h5 class="fact fs-16 gray5 mt-40" data-source="40000">
            <span class="colored factor">0</span><span class="colored">+</span>
            People Have already joined us!
          </h5>
          <form name="newsletter_form" method="post" action="php/newsletter.php" class="mt-30 validate-me mxw-500" data-error-message="Validation error occured. Please enter the fields and submit it again."
            data-submit-message="Welcome to our newsletter!">
            <div class="relative">
              <input type="email" name="n-email" id="n-email" required placeholder="Add your E-Mail address" class="input d-block fs-15 gray6 bg-dark b-0 height-50 bs-none radius-lg form-control">
              <button type="submit" id="n-submit" name="submit" class="height-50 px-30 absolute right-0 top-0 radius-lg bg-colored white click-effect bold fs-12">JOIN</button>
            </div>
          </form>
          <p class="mt-30 gray6 lh-25 fs-13">
            You can join to newsletter for the latest news and campaigns.
          </p>
        </div>
        <!-- End column -->
        <!-- Footer bottom -->
        <div class="col-12 mt-120 mt-70-sm">
          <!-- Border -->
          <div class="fullwidth bt-1 b-solid b-dark"></div>
          <div class="py-30 row align-items-center justify-content-lg-between justify-content-center">
            <div class="col-lg col-12-sm gray6 fs-13 t-left t-center-sm"> 2022 Quadra All Rights Reserved.</div>
            <div class="col-lg col-12-sm mt-5-sm gray6 fs-13 t-right t-center-sm">
              <a href="#" target="_blank" class="white-hover slow">Privacy Policy</a> |
              <a href="#" target="_blank" class="white-hover slow">Terms and Condition</a>
            </div>
          </div>
        </div>
        <!-- End footer bottom -->
      </div>
      <!-- End row -->
    </div>
    <!-- End container in footer -->
  </footer>
  <!-- End footer -->



  <!-- Quick Contact Form -->
  <div class="qcf bg-transparent radius-lg bs-xl unselectable">
    <!-- Top section -->
    <div class="bg-dark6 px-30 py-40 t-left">
      <img src="images/logos/logo_02_white.svg" class="block width-30" alt="website logo template">
      <h5 class="light fs-18 white mt-30">Drop us a message</h5>
      <p class="fs-16 gray5 lh-25 mt-10">You're at the right place now! How can we help?</p>
    </div>
    <!-- Contact Form -->
    <form class="validate-me pt-15 bg-white" name="quick_form" method="post" action="php/quick-contact-form.php" data-error-message="Please check the red marked areas." data-submit-message="Your message has reached us. Thank you!">
      <!-- Email -->
      <input type="email" name="qemail" id="qemail" required placeholder="E-Mail" autocomplete="off" class="fs-14 py-20 px-30 b-0 bb-1 b-gray">
      <!-- Message -->
      <textarea name="qmessage" id="qmessage" required placeholder="Message" class="fs-14 py-20 px-30 height-120 mt-5 b-0 bb-1 b-gray"></textarea>
      <div class="mt-50 t-right py-30 px-30 d-flex justify-content-end align-items-center">
        <a href="https://themeforest.net/user/goldeyes#contact" target="_blank" class="fs-12 medium colored">VISIT CONTACT PAGE</a>
        <!-- Send Button -->
        <button type="submit" id="qsubmit" class="fs-12 black medium ml-15 py-0 bg-white dark-loading">SEND MESSAGE</button>
      </div>
    </form>
  </div>
  <div class="qcf-backdrop"></div>
  <!-- Contact us button -->
  <a href="#" class="drop-msg qcf-trigger circle width-60 width-50-sm height-60 height-50-sm bg-white b-1 b-gray2 b-colored-active bg-colored-active gray7 white-active">
    <i class="ti-headphone-alt fs-22 show"></i>
    <i class="ti-close fs-20 cls"></i>
  </a>
  <!-- Back To Top -->
  <a id="back-to-top" href="#top" class="btt circle width-60 width-50-sm height-60 height-50-sm bg-white b-1 b-gray2 gray7">
    <i class="ti-angle-up fs-18"></i>
  </a>




  <!-- SEARCH FORM FOR NAV -->
  <div class="fs-searchform d-flex align-items-center justify-content-center">
    <form id="fs-searchform" class="container" action="pages-search-results.html" method="get">
      <!-- Input -->
      <input type="search" name="q" id="q" placeholder="Search on website.com" autocomplete="off">
      <div class="ti-close close"></div>
      <div class="recommended">
        <h5 class="rcm-title">Recommend Links;</h5>
        <a href="demo-antares.html">Quadra, Antares version</a>
        <a href="demo-athena.html">Beautiful Athena demo</a>
        <a href="elements-all.html">Awesome Quadra Elements</a>
        <a href="demo-feronia.html">Why i will use the Quadra?</a>
        <a href="index.html">See 500+ templates</a>
      </div>
    </form>
    <div class="form-bg"></div>
  </div>
  <!-- END SEARCH FORM -->

  <!-- jQuery -->
  <script src="js/jquery.min.js?v=3"></script>
  <!-- Bootstrap -->
  <script src="js/bs.js?v=5.1.3"></script>
  <!-- Data tables -->
  <script src="js/components/datatables.min.js"></script>
  <!-- Scripts -->
  <script src="js/scripts.js?v=3.0"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- END JS FILES -->

  <script>
    $(document).ready(function() {
      $('#dataTable').DataTable();
    });
  </script>
  <!-- THEME PANEL - you can remove this area The panel loading after window load for better performance. -->
  <script>
    $(document).ready(function() {
      'use strict'
      setTimeout(function() {
        $("body").append(
          '<div id="panel" class="panel hiding"><a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" target="_blank" class="panel-button"><i class="ti-shopping-cart"></i><div>Get a copy</div></a><a href="#" class="panel-button theme-options"><i class="ti-settings"></i><div>Theme Options</div></a><a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528/support" target="_blank" class="panel-button"><i class="ti-email"></i><div>Get support</div></a></div><div class="panel-backdrop"></div><div class="panel-switcher"><div class="loader-circle"></div><div class="loader-line-mask"><div class="loader-line"></div></div></div><style>.panel:not(.loaded),.panel-switcher:not(.loaded),.panel-backdrop:not(.loaded){ visibility: hidden; }</style>'
        )
      }, 650);
      setTimeout(function() {
        $.getScript("js/theme-panel/theme-panel.js");
        $('head').append($('<link rel="stylesheet" type="text/css" />').attr('href', 'js/theme-panel/theme-panel.css'));
      }, 700);
      setTimeout(function() {
        $("#panel, .panel-switcher, .panel-backdrop").addClass("loaded");
      }, 1000);
    });
  </script>
  <!-- END THEME PANEL -->


</body>
<!-- Body End -->

</html>
